<div class="container" id="container">
    <div class="top-bar">
        <div class="left-section">
            <h2>Testing Platform</h2>
        </div>
        <div class="right-section">
            <h4>{{user}}</h4>
            <button class="settings">Settings</button>
            <button class="logout" hx-trigger="click" hx-get="/users/logout" hx-target="#container" hx-push-url="true">Logout</button>
        </div>
    </div>
    <div class="publication-menu">
        <button class="add-publication">Add Publication</button>
        <button class="search">Search</button>
    </div>
    <div class="middle-section">
        {% for p in publications %}
            
        <div class="publication">
            <div class="publication-header">
                <h3>{{p.title}}</h3>
                <h4>{{p.author}}</h4>
                <button class="edit-publication">Edit</button>
                <button class="delete-publication">Delete</button>
            </div>
            <div class="publication-body">
                <p>{{p.content}}</p>
            </div>
            <div class="publication-comments">
                {}
                <div class="comment">
                    <div class="comment-header">
                        <h4>Commenter Name</h4>
                        <button class="edit-comment">Edit</button>
                        <button class="delete-comment">Delete</button>
                    </div>
                    <div class="comment-body">
                        <p>Comment Body</p>
                    </div>
                </div>
            </div>
        </div>

         {% endfor %}
    </div>
</div>